
<div id="previewGlobe" style="position:absolute;height:100vh; width:100%"></div>

<div class=" center one-page" id="homePage">

    <div id="navbar" >
        <div id="navbar-contents" >
            <span class="left">
                <h4 id="title" >TrafficGlobe.io</h4>
            </span>

            <span class="right" id="left-links">
                <h6>User Guide</h6>

                <h6>Pricing</h6>

                <h6>About</h6>
            </span>
        </div>
    </div>



    <div id="homepage-content">

    </div>
    <h1 style=" top:60vh;">Your Web Traffic, Real Time</h1>




    <br/>
    <br/>

    <button id="loginButton" ng-click="home.login()"></button>
</div>


